@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Playfair+Display:ital,wght@0,400;0,500;1,700&display=swap');

body {
	font-family: 'Playfair Display', serif;
	background-color: #fff;
	display: flex;
	align-items: flex-start;
	color: #000;
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
}
